@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

%f16l19 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
%f20l24 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
%f16l30 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
}
%f16l40 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
}
%f20l30 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}
.container_header {
    max-width: 1520px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #373536;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}
.top_header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 35px;
}
.mobile_logo {
    display:none;
}
.header_top_button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    color: #333333;
    width: 162px;
    margin-left: 40px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.top_header_search {
    margin-left: 40px;
    margin-right: 60px;
}
li {
    list-style-type: none;
}
.header_top_column_text  {
    display: flex;
    align-items: center;
    @extend %f16l19;
    span {
        margin-left: 6px;
    }
}
.header_top_button {
    @extend %f16l19;
    border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    color: #333333;
    width: 162px;
    margin-left: 40px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header_top_button_mobile {
    display: none;
}
.mobile_menu {
    display: none;
}
.header_top_column_link {
    @extend %f20l24;
}
.header_top_column_second {
    margin-left: 30px;
}
// Подвал
footer {
    padding-top: 85px;
    padding-bottom: 105px;
    background: #1A2227;
}
.footer_column_wrapper {
    display: flex;
}
.footer_column_two {
    margin-left: 210px;
}
.footer_column_three {
    margin-left: 285px;
}
.footer_column_four {
    margin-left: 180px;
}
.footer_column_copyright {
    @extend %f16l30;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 152px;
}
.footer_column_powered {
    @extend %f16l30;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}
.footer_column_title {
    @extend %f20l30;
    color: #fff;
}
.footer_main_navigation {
    a {
        @extend %f16l40;
        color: #fff;
    }
    margin-top: 40px;
}
.footer_phone_wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.footer_email_wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.footer_map_wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.footer_contact_wrapper a {
    @extend %f16l19;
    color: #FFFFFF;
    margin-left: 15px;
}


@media (max-width: 1024px) {
    .header_top_button {
        display: none;
    }
    .header_top_button_mobile {
        display: block;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid #333333;
        border-radius: 5px;
        text-align: center;
        color: #333333;
        width: 162px;
        margin-left: 40px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}